body {
  background-color: lavender;
  color: navy;
}

h1, h2, h3, h4, h5, h6 {
  color: #483248; /* Eggplant */
}

/* Main Div Elements */
.greetings {
  display: block;
  text-align: center
}
.navbar {
  display: block;
}
.content {
  display: block;
}
.footer {
  display: block;
  text-align: center
}

/* Greetings */
.greetings-img {
  width: 20vw;
  border-radius: 50%;
}

/* Navbar */

.navbar-menu {
  display: flex;
  list-style-type: none;
  margin: 0;
  padding: 0;
  justify-content: space-around;
}
.navbar-item {
  display: inline-block;
  padding: 2vw;
 }
.navbar-link {
  display: block;
  color: #483248; /* Eggplant */
  text-decoration: none;
  text-transform: uppercase;
  text-shadow: 1.5px 1.5px rgba(70,50,72,0.3);
}