<footer>
  <p>If you'd like to connect, collaborate, or just chat about code, feel free to reach out!</p>
  <a class="social_link" href="https://www.linkedin.com/in/francisco-das-chagas-s-jr-83463534/">
    <img class="social_img" src="https://img.shields.io/badge/-LinkedIn-blue?style=flat&logo=LinkedIn&logoColor=white" alt="LinkedIn"></a>
  <a class="social_link" href="https://github.com/fchagasjr">
    <img class="social_img" src="https://img.shields.io/badge/-GitHub-black?style=flat&logo=GitHub&logoColor=white" alt="GitHub"></a>
</footer>
